@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.raleway{
    font-family: var(--font-raleway);
}
.jost{
    font-family: var(--font-young-sans);
}

@layer components{
    .heading{
        @apply text-[24px] uppercase text-secondary py-[20px] px-0
    }
    .login_tab{
        @apply text-sm text-swap px-3 py-2
    }
    .login_hover{
        @apply cursor-pointer border-b-[.5px] border-b-swap-hover_clr
    }
    .login_click{
        @apply text-primary border-b-[1px] border-b-swap-click_border
    }
    .danger_box{
       @apply w-full bg-error_box-bg_clr border-[1px] border-error_box-border_clr text-error_box-text_clr py-[1rem] px-[1.25rem] my-[1rem] rounded-md
    }
    .input-feilds{
        @apply flex items-center m-auto w-full relative
    }
    
    .input-box{
        @apply border-[1px] border-swap px-[10px] py-[10px] gap-x-4 my-[10px] hover:border-swap-hover_clr w-full outline-none pl-[40px] focus:border-swap-click_border rounded-md
    }
    .login-btn{
        @apply text-primary border-[1px] border-primary px-6 py-2 uppercase text-[12px] rounded-sm hover:bg-primary hover:text-white duration-300 raleway font-semibold tracking-[2px]
    }
    .fade_right{
        @apply animate-[fadeInRight_.5s_ease-in-out]
    }
    .fade_left{
        @apply animate-[fadeInLeft_.5s_ease-in-out]
    }
    .profileFade{
        @apply animate-[peofileFade_.5s_ease-in-out]
    }
    

    /* navbar */
    .nav_li{
        @apply mb-6 hover:text-primary px-4 text-hash_clr
    }
    .nav_anchor{
        @apply flex flex-col justify-center items-center relative
    }
    .nav_tooltip{
        @apply absolute right-[-100px] bg-primary px-2 py-1 text-white flex items-center justify-center font-semibold min-w-[75px] hidden 
    }


    .bor{
        @apply border-2 border-primary
    }
    
}